
html, body {
	height: 100%;
}

#data-row {
	height: 79%;
}

.info-row {
	height: 10%;
}

#bt-nav-row {
	height: 5%
}
/*#hm-col {
	padding-right: 0;
}

#sc-col {
	padding-left: 0;
}*/

#nav-btn-prevalence {
	background-color: grey;
}