
html, body {
	height: 100%;
}

#data-row {
	height: 83%;
}

.info-row {
	height: 10%;
}

/*#hm-col {
	padding-right: 0;
}

#sc-col {
	padding-left: 0;
}*/

#nav-btn-prevalence {
	background-color: grey;
}