html, body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.system-data-row {
	height: 25%;
	background-color: orange;
}

.mosaic-area {
	height: 70%;
}

.mosaic-row {
	height: 30%;
	margin: 0;
}

.mosaic-square {
	padding: 0;
}

.mosaic-nav-row {
	height: 10%;
	background-color: darkgray;
	margin: 0;
}

.mosaic-nav-btn {
	text-align: center;
	outline: 1px;
}
