html, body {
    height: 100%;
}

#overarching-container {
    height: 100%;
    padding: 0;
    /*overflow-y: hidden;*/
}

.col-tall {
    height: 100%;
}

.header-row {
    height: 5%;
    background-color: darkgray;
}

.page-header {
    margin: 0px;
    padding-bottom: 0px;
}

.body-container {
    height: 95%;
}

#graph-row {
    height: 100%;
}

#graph-data-row {
    height: 30%;
}

#navbar-area {
    /*background-color: rgba(34, 139, 34, 0.5);*/
}

#graph-col {
    /*background-color: rgba(255, 0, 0, 0.2);*/
}

#graph-data-col {
    background-color: rgba(255, 153, 0, 0.5); 
}

#data-area {
    background-color: rgba(0, 0, 255, 0.5);
}

#data-row {
    height: 70%;
}

.data-container {
    outline: 1px solid black;
}

.nav-btn-group {
    height: 100%;
}
.nav-btn {
    height: 100%;
    font-size: 100%;
    font-weight: bold;
}
.resp-header {
    font-size: 150%;
    margin: 0;
    vertical-align: middle;
}

#jumbo-header {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: transparent;
}

#jumbo-p {
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1300px) {
    #jumbo-p {font-size: 10pt;}
}

@media (max-width: 500px) {
    #jumbo-p {font-size: 10pt;}
}


